BODY {
	_margin: 0; _height: 100%
}
.aui_outer {
	TEXT-ALIGN: left
}
TABLE.aui_border {
	BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; WIDTH: auto; BORDER-COLLAPSE: collapse; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
TABLE.aui_dialog {
	BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; WIDTH: auto; BORDER-COLLAPSE: collapse; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.aui_nw {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.aui_n {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.aui_ne {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.aui_w {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.aui_c {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.aui_e {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.aui_sw {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.aui_s {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.aui_se {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.aui_header {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.aui_tdIcon {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.aui_main {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.aui_footer {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.aui_header {
	FONT: 12px/1.11 'Microsoft Yahei', Tahoma, Arial, Helvetica, STHeiti; _font-family: Tahoma,Arial,Helvetica,STHeiti; -o-font-family: Tahoma, Arial
}
.aui_buttons BUTTON {
	FONT: 12px/1.11 'Microsoft Yahei', Tahoma, Arial, Helvetica, STHeiti; _font-family: Tahoma,Arial,Helvetica,STHeiti; -o-font-family: Tahoma, Arial
}
.aui_title {
	TEXT-OVERFLOW: ellipsis; OVERFLOW: hidden
}
.aui_state_noTitle .aui_title {
	DISPLAY: none
}
.aui_close {
	POSITION: absolute; OUTLINE-STYLE: none; DISPLAY: block; TEXT-DECORATION: none; _cursor: pointer
}
.aui_close:hover {
	TEXT-DECORATION: none
}
.aui_main {
	MIN-WIDTH: 0px; TEXT-ALIGN: center
}
.aui_content {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: left; BORDER-LEFT: 0px; ZOOM: 1; DISPLAY: inline; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.aui_state_full.aui_content {
	PADDING-BOTTOM: 0px !important; MARGIN: 0px; PADDING-LEFT: 0px !important; WIDTH: 100%; PADDING-RIGHT: 0px !important; DISPLAY: block; HEIGHT: 100%; PADDING-TOP: 0px !important
}
.aui_loading {
	TEXT-ALIGN: left; TEXT-INDENT: -999em; WIDTH: 96px; BACKGROUND: url(icons/loading.gif) no-repeat center center; HEIGHT: 32px; OVERFLOW: hidden
}
.aui_icon {
	VERTICAL-ALIGN: middle
}
.aui_icon DIV {
	MARGIN: 10px 0px 10px 10px; WIDTH: 48px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center; HEIGHT: 48px
}
.aui_buttons {
	TEXT-ALIGN: right; PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; WHITE-SPACE: nowrap; PADDING-TOP: 8px
}
.aui_buttons BUTTON {
	BORDER-BOTTOM: #999 1px solid; TEXT-ALIGN: center; FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD'); BORDER-LEFT: #999 1px solid; PADDING-BOTTOM: 4px; LINE-HEIGHT: 1; PADDING-LEFT: 10px; WIDTH: auto; PADDING-RIGHT: 10px; DISPLAY: inline-block; FONT-FAMILY: Tahoma, Arial/9 !important; BACKGROUND: #ddd; LETTER-SPACING: 2px; HEIGHT: 2em; COLOR: #333; MARGIN-LEFT: 15px; OVERFLOW: visible; BORDER-TOP: #999 1px solid; CURSOR: pointer; BORDER-RIGHT: #999 1px solid; PADDING-TOP: 4px; border-radius: 5px; text-shadow: 0px 1px 1px rgba(255, 255, 255, 1); box-shadow: 0 1px 0 rgba(255, 255, 255, .7),  0 -1px 0 rgba(0, 0, 0, .09); -moz-transition: -moz-box-shadow linear .2s; -webkit-transition: -webkit-box-shadow linear .2s; transition: box-shadow linear .2s
}
.aui_buttons BUTTON:unknown {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
.aui_buttons BUTTON:focus {
	BORDER-BOTTOM-COLOR: #426dc9; BORDER-TOP-COLOR: #426dc9; OUTLINE-STYLE: none; OUTLINE-WIDTH: 0px; BORDER-RIGHT-COLOR: #426dc9; BORDER-LEFT-COLOR: #426dc9; box-shadow: 0 0 8px rgba(0, 50, 0, .7)
}
.aui_buttons BUTTON:hover {
	BORDER-BOTTOM-COLOR: #666; BORDER-TOP-COLOR: #666; COLOR: #000; BORDER-RIGHT-COLOR: #666; BORDER-LEFT-COLOR: #666
}
.aui_buttons BUTTON:active {
	BORDER-BOTTOM-COLOR: #666; FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#FFFFFF'); BORDER-TOP-COLOR: #666; BORDER-RIGHT-COLOR: #666; BORDER-LEFT-COLOR: #666; box-shadow: inset 0 1px 5px rgba(0, 50, 0, .7), inset 0 1px 1em rgba(0, 0, 0, .3)
}
.aui_buttons BUTTON[disabled] {
	BORDER-BOTTOM: #999 1px solid; FILTER: alpha(opacity=50); BORDER-LEFT: #999 1px solid; BACKGROUND: #ddd; COLOR: #666; BORDER-TOP: #999 1px solid; CURSOR: default; BORDER-RIGHT: #999 1px solid; box-shadow: none; opacity: .5
}
BUTTON.aui_state_highlight {
	BORDER-BOTTOM: #679a10 1px solid; FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#98d237', endColorstr='#7cb61b'); BORDER-LEFT: #679a10 1px solid; BACKGROUND: #7cb61b; COLOR: #fff; BORDER-TOP: #679a10 1px solid; BORDER-RIGHT: #679a10 1px solid; text-shadow: -1px -1px 1px #679a10
}
BUTTON.aui_state_highlight:focus {
	BORDER-BOTTOM-COLOR: #679a10; BORDER-TOP-COLOR: #679a10; BORDER-RIGHT-COLOR: #679a10; BORDER-LEFT-COLOR: #679a10
}
BUTTON.aui_state_highlight:hover {
	BORDER-BOTTOM-COLOR: #3c5412; BORDER-TOP-COLOR: #3c5412; COLOR: #fff; BORDER-RIGHT-COLOR: #3c5412; BORDER-LEFT-COLOR: #3c5412
}
BUTTON.aui_state_highlight:active {
	BORDER-BOTTOM-COLOR: #3c5412; FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#98d237', endColorstr='#7cb61b'); BORDER-TOP-COLOR: #3c5412; BORDER-RIGHT-COLOR: #3c5412; BORDER-LEFT-COLOR: #3c5412
}
.aui_inner {
	BACKGROUND: #f7f7f7
}
.aui_titleBar {
	POSITION: relative; WIDTH: 100%; BOTTOM: 30px; HEIGHT: 0px; _bottom: 0; _margin-top: -30px
}
.aui_title {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 29px; TEXT-INDENT: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 25px; HEIGHT: 29px; COLOR: #fff; FONT-WEIGHT: 700; PADDING-TOP: 0px; text-shadow: -1px -1px 0 rgba(0, 50, 0, .7); _padding: 0
}
.aui_nw {
	BACKGROUND-IMAGE: url(green/bg.png); BACKGROUND-REPEAT: no-repeat
}
.aui_ne {
	BACKGROUND-IMAGE: url(green/bg.png); BACKGROUND-REPEAT: no-repeat
}
.aui_sw {
	BACKGROUND-IMAGE: url(green/bg.png); BACKGROUND-REPEAT: no-repeat
}
.aui_se {
	BACKGROUND-IMAGE: url(green/bg.png); BACKGROUND-REPEAT: no-repeat
}
.aui_n {
	BACKGROUND-IMAGE: url(green/bg.png); BACKGROUND-REPEAT: no-repeat
}
.aui_s {
	BACKGROUND-IMAGE: url(green/bg.png); BACKGROUND-REPEAT: no-repeat
}
.aui_close {
	BACKGROUND-IMAGE: url(green/bg.png); BACKGROUND-REPEAT: no-repeat
}
.aui_nw {
	WIDTH: 15px; BACKGROUND-POSITION: 0px 0px; HEIGHT: 38px; _png: green/ie6/nw.png
}
.aui_ne {
	WIDTH: 15px; BACKGROUND-POSITION: -15px 0px; HEIGHT: 38px; _png: green/ie6/ne.png
}
.aui_sw {
	WIDTH: 15px; BACKGROUND-POSITION: 0px -38px; HEIGHT: 18px; _png: green/ie6/sw.png
}
.aui_se {
	WIDTH: 15px; BACKGROUND-POSITION: -15px -38px; HEIGHT: 18px; _png: green/ie6/se.png
}
.aui_close {
	TEXT-INDENT: -9999em; WIDTH: 20px; BACKGROUND-POSITION: 0px -112px; HEIGHT: 20px; TOP: 4px; RIGHT: 4px; _png: green/ie6/close.png; _z-index: 1; _font-size: 0; _line-height: 0
}
.aui_close:hover {
	BACKGROUND-POSITION: 0px -132px
}
.aui_n {
	BACKGROUND-REPEAT: repeat-x
}
.aui_s {
	BACKGROUND-REPEAT: repeat-x
}
.aui_n {
	BACKGROUND-POSITION: 0px -56px; _png: green/ie6/n.png
}
.aui_s {
	BACKGROUND-POSITION: 0px -94px; _png: green/ie6/s.png
}
.aui_w {
	BACKGROUND-IMAGE: url(green/bg2.png); BACKGROUND-REPEAT: repeat-y
}
.aui_e {
	BACKGROUND-IMAGE: url(green/bg2.png); BACKGROUND-REPEAT: repeat-y
}
.aui_w {
	BACKGROUND-POSITION: left top; _png: green/ie6/w.png
}
.aui_e {
	BACKGROUND-POSITION: right bottom; _png: green/ie6/e.png
}
aui_icon {
	PADDING-TOP: 3px
}
.aui_main {
	PADDING-TOP: 3px
}

@media Unknown    
{
.aui_outer {
	border-radius: 8px; box-shadow: 0 5px 15px rgba(0, 50, 0, .4); -moz-transition: -moz-box-shadow linear .2s; -webkit-transition: -webkit-box-shadow linear .2s; transition: -webkit-box-shadow linear .2s
}
.aui_state_lock .aui_outer {
	box-shadow: 0 3px 26px rgba(0, 0, 0, .9)
}
.aui_outer:active {
	box-shadow: 0 0 5px rgba(0, 50, 0, .1)
}
.aui_state_drag .aui_outer {
	box-shadow: none
}
.aui_nw {
	BACKGROUND-IMAGE: url(green/bg_css3.png)
}
.aui_ne {
	BACKGROUND-IMAGE: url(green/bg_css3.png)
}
.aui_sw {
	BACKGROUND-IMAGE: url(green/bg_css3.png)
}
.aui_se {
	BACKGROUND-IMAGE: url(green/bg_css3.png)
}
.aui_n {
	BACKGROUND-IMAGE: url(green/bg_css3.png)
}
.aui_s {
	BACKGROUND-IMAGE: url(green/bg_css3.png)
}
.aui_close {
	BACKGROUND-IMAGE: url(green/bg_css3.png)
}
.aui_nw {
	WIDTH: 5px; HEIGHT: 31px
}
.aui_ne {
	WIDTH: 5px; BACKGROUND-POSITION: -5px 0px; HEIGHT: 31px; _png: green/ie6/ne.png
}
.aui_sw {
	WIDTH: 5px; BACKGROUND-POSITION: 0px -31px; HEIGHT: 5px
}
.aui_se {
	WIDTH: 5px; BACKGROUND-POSITION: -5px -31px; HEIGHT: 5px
}
.aui_close {
	BACKGROUND-POSITION: 0px -72px
}
.aui_close:hover {
	BACKGROUND-POSITION: 0px -92px
}
.aui_n {
	BACKGROUND-POSITION: 0px -36px
}
.aui_s {
	BACKGROUND-POSITION: 0px -67px
}
.aui_w {
	BACKGROUND-IMAGE: url(green/bg_css3_2.png)
}
.aui_e {
	BACKGROUND-IMAGE: url(green/bg_css3_2.png)
}
    }
.aui_state_noTitle .aui_nw {
	WIDTH: 3px; HEIGHT: 3px
}
.aui_state_noTitle .aui_ne {
	WIDTH: 3px; HEIGHT: 3px
}
.aui_state_noTitle .aui_sw {
	WIDTH: 3px; HEIGHT: 3px
}
.aui_state_noTitle .aui_se {
	WIDTH: 3px; HEIGHT: 3px
}
.aui_state_noTitle .aui_inner {
	BORDER-BOTTOM: #666 1px solid; BORDER-LEFT: #666 1px solid; BACKGROUND: #fff; BORDER-TOP: #666 1px solid; BORDER-RIGHT: #666 1px solid
}
.aui_state_noTitle .aui_outer {
	box-shadow: none
}
.aui_state_noTitle .aui_nw {
	FILTER: alpha(opacity=5) !important; BACKGROUND: #000
}
.aui_state_noTitle .aui_n {
	FILTER: alpha(opacity=5) !important; BACKGROUND: #000
}
.aui_state_noTitle .aui_ne {
	FILTER: alpha(opacity=5) !important; BACKGROUND: #000
}
.aui_state_noTitle .aui_w {
	FILTER: alpha(opacity=5) !important; BACKGROUND: #000
}
.aui_state_noTitle .aui_e {
	FILTER: alpha(opacity=5) !important; BACKGROUND: #000
}
.aui_state_noTitle .aui_sw {
	FILTER: alpha(opacity=5) !important; BACKGROUND: #000
}
.aui_state_noTitle .aui_s {
	FILTER: alpha(opacity=5) !important; BACKGROUND: #000
}
.aui_state_noTitle .aui_se {
	FILTER: alpha(opacity=5) !important; BACKGROUND: #000
}
.aui_state_noTitle .aui_titleBar {
	BOTTOM: 0px; _bottom: 0; _margin-top: 0
}
.aui_state_noTitle .aui_close {
	TEXT-ALIGN: center; FILTER:  !important; LINE-HEIGHT: 18px; TEXT-INDENT: 0px; WIDTH: 18px; FONT-FAMILY: Helvetica, STHeiti; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 18px; COLOR: #214fa3; FONT-SIZE: 18px; TOP: 0px; RIGHT: 0px; TEXT-DECORATION: none; _font-family: 'u9ed1u4f53', 'Book Antiqua', Palatino
}
.aui_state_noTitle .aui_close:hover {
	COLOR: #900; TEXT-DECORATION: none
}
.aui_state_noTitle .aui_close:active {
	COLOR: #900; TEXT-DECORATION: none
}
